header {
    min-height: 100vh;
    color: $white;
    font-family: $font2;
    .header-tittle {
        width: 80%;
        margin: 0 auto;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: clamp(2rem, 3vw, 4rem);
            text-transform: uppercase;
        }
        p {
            margin: 100px 0;
        }
        i {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: none;
            border: 1px dashed $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            cursor: pointer;
            animation: bounce 1.5s infinite;
            transition: transform 0.3s ease;
            &:hover {
                background: $white;
                color: $black;
            }

            @keyframes bounce {
                0%,
                100% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY(-10px);
                }
            }
        }
        .header-icon {
            transition:
                opacity 0.3s ease,
                visibility 0.3s ease;
        }

        .is-hidden {
            opacity: 0;
            visibility: hidden;
        }
    }
    .header-bottom {
        background: $white1;
        min-height: 10vh;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        &.is-sticky {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 0;
            z-index: 1000;
            background: $gray;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            margin: 0;
        }
        i {
            transition: transform 0.3s ease;
            &:hover {
                color: $black;
            }
        }
        .header-a {
            display: flex;
            flex-direction: row;

            a {
                padding: 30px 10px;
                transition: all 0.3s ease;
            }
            a:hover {
                background: white;
                color: black;
            }
        }
        .header-social {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-right: 10px;
            @media (max-width: 500px) {
                display: none;
            }
        }
    }
}
